<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MapPiece_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,604},{138,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,110}}</string>
                <key>sourceSize</key>
                <string>{138,110}</string>
            </dict>
            <key>MapPiece_100000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{140,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,80}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>MapPiece_100001.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,750},{140,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,114}}</string>
                <key>sourceSize</key>
                <string>{140,114}</string>
            </dict>
            <key>MapPiece_100002.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,476},{140,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,126}}</string>
                <key>sourceSize</key>
                <string>{140,126}</string>
            </dict>
            <key>MapPiece_100003.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,594},{140,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,154}}</string>
                <key>sourceSize</key>
                <string>{140,154}</string>
            </dict>
            <key>battle_campFrame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,505},{145,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,87}}</string>
                <key>sourceSize</key>
                <string>{145,87}</string>
            </dict>
            <key>battle_campFrame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,416},{145,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,87}}</string>
                <key>sourceSize</key>
                <string>{145,87}</string>
            </dict>
            <key>battle_campFrame_big_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,247},{288,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,167}}</string>
                <key>sourceSize</key>
                <string>{288,167}</string>
            </dict>
            <key>battle_campFrame_big_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,78},{288,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,167}}</string>
                <key>sourceSize</key>
                <string>{288,167}</string>
            </dict>
            <key>btn_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,78},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btn_cehng_da.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{358,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,74}}</string>
                <key>sourceSize</key>
                <string>{358,74}</string>
            </dict>
            <key>by_jianshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{638,472}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,472}}</string>
                <key>sourceSize</key>
                <string>{638,472}</string>
            </dict>
            <key>by_xuanxiang_jianxhu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{138,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,236}}</string>
                <key>sourceSize</key>
                <string>{138,236}</string>
            </dict>
            <key>by_xuanxiang_jianxhu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{115,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,30}}</string>
                <key>sourceSize</key>
                <string>{115,30}</string>
            </dict>
            <key>by_xuanxiang_jianxhu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{115,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,137}}</string>
                <key>sourceSize</key>
                <string>{115,137}</string>
            </dict>
            <key>by_xuanxiang_jianxhu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,615},{110,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,41}}</string>
                <key>sourceSize</key>
                <string>{110,41}</string>
            </dict>
            <key>by_xuanxiang_jianxhu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,416},{152,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,246}}</string>
                <key>sourceSize</key>
                <string>{152,246}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BuildHouseUIAtlas.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:665c86225a21721a1a84d98aa5b10527$</string>
            <key>textureFileName</key>
            <string>BuildHouseUIAtlas.png</string>
        </dict>
    </dict>
</plist>
