<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cbp_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{56,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{56,79}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>cbp_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,411},{54,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{54,77}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>cbp_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{50,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{50,83}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>cbp_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,83}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>cbp_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{56,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{56,77}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>cbp_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{60,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{60,77}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>cbp_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{56,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{56,77}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>cbp_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,87},{54,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{54,79}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>cmzp_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{56,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{56,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>cmzp_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,155},{54,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{54,68}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>cmzp_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,242},{50,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{50,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>cmzp_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,411},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>cmzp_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,316},{54,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{54,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>cmzp_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,168},{60,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{60,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>cmzp_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,81},{56,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{56,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>cmzp_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,242},{54,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{54,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>walk.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a71fbe1ba8531216f1dc81f5410d1df9$</string>
            <key>textureFileName</key>
            <string>walk.png</string>
        </dict>
    </dict>
</plist>
