<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,217},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btn_cehng_da.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{358,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,74}}</string>
                <key>sourceSize</key>
                <string>{358,74}</string>
            </dict>
            <key>by_jianshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{638,472}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,472}}</string>
                <key>sourceSize</key>
                <string>{638,472}</string>
            </dict>
            <key>by_xuanxiang_jianxhu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,78},{138,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,236}}</string>
                <key>sourceSize</key>
                <string>{138,236}</string>
            </dict>
            <key>by_xuanxiang_jianxhu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,78},{115,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,30}}</string>
                <key>sourceSize</key>
                <string>{115,30}</string>
            </dict>
            <key>by_xuanxiang_jianxhu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,78},{115,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,137}}</string>
                <key>sourceSize</key>
                <string>{115,137}</string>
            </dict>
            <key>by_xuanxiang_jianxhu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,110},{110,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,41}}</string>
                <key>sourceSize</key>
                <string>{110,41}</string>
            </dict>
            <key>pic_xiaofang.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,153},{100,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BuildHouseUIAtlas.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95d9b45ebb96fb8b57355539aa74b1c1$</string>
            <key>textureFileName</key>
            <string>BuildHouseUIAtlas.png</string>
        </dict>
    </dict>
</plist>
